:root{
  --clr-past:hsl(0, 0%, 83%);
  --clr-present:hsl(3, 100%, 69%);
  --clr-future:hsl(120, 60%, 67%);
  --clr-accent:hsl(245, 50%, 40%);
  --clr-dark:hsla(0, 0%, 0%, 0.85);
  --clr-light:hsla(0, 0%, 100%, 0.90);
  --clr-faded-text:hsla(0, 0%, 0%, 0.6);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;
}

.current-day-container{
  padding:1rem;
  font-size: 2em;
  text-align: center;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border-radius: 0;
  width: 100vw;
}

.time-block {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin:0;
  border-bottom: 3px solid var(--clr-dark);
  border-top: 3px solid var(--clr-dark);
  list-style: none;
}
.hour-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:10vw;
  min-width: 50px;
  padding: 1rem;
  background-color: black;
  color: var(--clr-light);
  box-shadow: inset 0 0 5px 1px var(--clr-light);
  text-align: center;
}
.event-block{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: baseline;
  padding:0.8rem;
  width:100%;
  height: 100%;
  /* Click through text box onto underlying li for adding new appointment*/
  pointer-events: none;
  color: var(--clr-dark);
}
.event-block-title{
  padding-bottom: 0.5rem;
}
.event-block-description{
  color: var(--clr-faded-text);
}

.past {
  height: 80px;
  background-color: var(--clr-past);
}

.present {
  height:130px;
  background-color: var(--clr-present);
}

.future {
  height:130px;
  background-color: var(--clr-future);
}


/* Modal sytling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin:auto;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: var(--clr-dark);
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  display: flex;
  background-color: var(--clr-past);
  margin: 15% auto;
  padding:3rem;
  border: 1px solid var(--clr-dark);
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
}
#newEvent{
  display: flex;
  flex-direction: column;
  width: 80vw;
}
#new-event-heading{
  position: absolute;
  top:0;
  left:0;
  right:0;
  transform: translateY(-50%);

  margin:0 auto;
  padding:1.2rem;
  width: fit-content;

  font-size: clamp(1.5em, 4vw, 3em);
  color: var(--clr-light);
  background-color: var(--clr-dark);


  border-radius: 200px;
  border:6px solid var(--clr-accent);
}
#newEventTitle{
  padding:0.5rem;
}
#newEventDescription{
  margin-top:1rem;
  padding:0.5rem;
  resize: none;
  height:20ch;
  
}
/* The Close Button */
#close-event-container{
  position: absolute;
  left:0;
  bottom:0;
  transform: translate(-30%,30%) rotate(45deg);

  padding:1.2rem;
  width: fit-content;
  
  background-color: var(--clr-dark);
  border:6px solid var(--clr-present);
  border-radius: 50%;
}
#close-event{
  padding:0.25rem;
  height:40px;
}
#close-event > *{
  fill:var(--clr-light);
}
/* Save Button */
#save-event-container{
  position: absolute;
  right:0;
  bottom:0;
  transform: translate(30%,30%);
  background-color: var(--clr-dark);
  border:6px solid var(--clr-future);
  padding:1.2rem;
  width: fit-content;
  border-radius: 50%;
}
#save-event{
  padding:0.25rem;
  height:40px;
}
#save-event > *{
  fill:var(--clr-light);
}